@font-face {
    font-family: "EFN-Handy";
    src: url(../fonts/EFN_Handy.otf)
}

html,
body {
    overflow: auto !important;
    font-family: Arial, Tahoma, sans-serif;
    
}

.full-height {
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

body {
    overflow: hidden;
    position: relative;
    z-index: 1;
    max-height: 100000px;
    
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../images/firest.jpg');
    opacity: 0.8;
    background-attachment: fixed;
    background-size: cover;
}

.registration-container .v-card {
    padding: 30px;
}

.font-efn-handy {
    font-family: "EFN-Handy";
    color: #2b86c6
}

.registration-container {
    width: 750px !important;
}

@media screen and (max-width: 890px) {
    .registration-container {
        width: 450px !important;
    }
    .registration-container .v-card {
        padding: 0px;
    }
}